body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
  }
  
  .swim-lanes {
    min-height: 60vh;
  }
  
  .task-card {
    margin: 0 auto;
  }
  
  .task-card:hover {
    cursor: grab;
  }

  .is-dragging {
    scale: 1.05;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    background: rgb(50, 50, 50);
    color: white;
  }

  .overdue {
    background-color: #d65d5d; /* Red background for overdue tasks */
}

.near-due {
    background-color: #dfb11c; /* Yellow background for tasks nearing due date */
}

.completed {
    background-color: #5cb85c; /* Green background for completed tasks */
}

.centerCards {
  display: flex;
  flex-direction: column;
  align-items: center;
}